.navbar-brand {
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    position: relative;
    margin-bottom: 10px;
}


.animated-background {
    height: 300px;
    animation: bgfade 50s infinite;
    background-size: cover;
    background-position: center;
    background-color: #000;
    position: relative;
}

@keyframes bgfade {
    16% {
        background-image: url(![](./images/cook.png));
    }

    32% {
        background-image: url(![](./images/trainerchauffeur.png));
    }

    48% {
        background-image: url(![](./images/green.png));
    }

    64% {
        background-image: url(![](./images/bine2najjar.png));
    }

    80% {
        background-image: url(![](./images/housekeeper.png));
    }

    100% {
        background-image: url(![](./images/engineer.png));
    }
}
